header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header-content {
    width: 100%;
    padding: 0px 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
}

.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    column-gap: 16px;
    padding: 0px;
}
